<div class = "container" >
  <% @users.each do |user| %>
  <p>First Name: <%= link_to user.fname, user_path(user) %></p>
  <p>Last Name: <%= user.lname %></p>
  <p>Description: <%= user.description %></p>
  <% if user.avatar.url %>
  <%= image_tag user.avatar.url %>
  <% end %>
  <% end %>
</div>
