// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map {
  width: 100%;
  height: 400px;
  background-color: grey;
  margin-right: 100px;
}

strong{
  text-align: center;
}

#cons{
  border-style: groove;
  text-align: center;
  padding-bottom: 20px;
   padding-top: 20px;
   margin-left: 105px;
   margin-right: 105px;
   border-radius: 45px;
   box-shadow: 10px 10px 50px;
}
